.table{    
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
}
.header{
    display: flex;
    flex-direction: column;    
}

thead {
    width: 200px;    
}

th, td {   
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    width: 6rem;    
}

.list{
    display: flex;    
}